<ion-view view-title="{{NomeBanda}}">
    <ion-nav-bar class="bar-musikr" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-arrow-left-c" ng-click="voltarPagina()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-ios-more" ng-click="openPopover($event)" ng-if="dadosBanda.isUserAdmin && mostraTela"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="has-header padding perfil perfil-banda" ng-show="mostraTela">
        <div class="info-perfil" ng-style="{'background-image':'url(' + dadosBanda.FotoBanda + ')'}">
            <div class="info-content">
                <div class="foto-perfil"><div ng-style="{'background-image':'url(' + dadosBanda.LogoBanda + ')'}"></div></div>
                <h1 class="nome-perfil">{{NomeBanda}}</h1>
                <h5 class="numero-followers" ui-sref="app.banda-seguidores({id: IdBanda})">{{qtdSeguidores}} {{(qtdSeguidores > 1 ? "seguidores" : "seguidor")}}</h5>
                <div class="acoes-perfil">
                    <button type="button" class="button button-balanced" ng-if="!usuarioSegueBanda" ng-click="followBanda(1)">Seguir</button>
                    <button type="button" class="button button-positive" ng-if="usuarioSegueBanda" ng-click="followBanda(2)">Seguindo</button>
                </div>
            </div>
        </div>
       
        <div class="lista-integrantes lista-perfil">
            <h4>Integrantes</h4>
            <div class="list">

                <div class="item item-thumbnail-left" ui-sref="app.perfil-pessoa" ng-repeat="item in dadosBanda.Integrantes">
                    <img src="{{item.FotoIntegrante}}" alt="Foto de Perfil">
                    <h2>{{item.NomeIntegrante}}</h2>
                    <p class="integrante-instrumentos">
                        <span ng-if="!item.IsCantor">Cantor</span><span ng-repeat="instrumento in item.Instrumentos">{{instrumento}}</span>
                    </p>
                    <p><small>ver perfil</small></p>
                </div>

            </div>
        </div>
        <div class="lista-publicacao lista-publicacao-perfil lista-perfil padding-horizontal" ng-if="dadosBanda.Publicacoes.length > 0">
            <h4>Publicações</h4>
            <div class="list card" ng-repeat="publicacao in dadosBanda.Publicacoes">

                <div class="item item-avatar">
                    <div class="foto" style="background-image: url({{dadosBanda.LogoBanda}})"></div>
                    <h2>{{NomeBanda}}</h2>
                    <p>{{publicacao.PublicacaoCriadoEm | date:'dd/MM/yyyy'}} às {{publicacao.PublicacaoCriadoEm | date:'HH:mm'}}</p>
                </div>

                <div class="item item-body">
                    <div class="message-container">
                        <div class="image-container" ng-if="publicacao.Imagem != null && publicacao.Imagem != ''">
                            <img class="full-image" src="{{publicacao.Imagem}}">
                        </div>
                        <div class="video-container" ng-if="publicacao.Video != null && publicacao.Video != ''">
                            <iframe ng-src="{{publicacao.Video | trustUrl}}" frameborder="0" width="560" height="315" allowfullscreen></iframe>
                        </div>
                        <p ng-if="publicacao.Texto != null && publicacao.Texto != ''">
                            {{publicacao.Texto}}
                        </p>
                    </div>
                    <div class="likes">
                        <a ng-class="{liked: (publicacao.UsuarioJaCurtiu)}" ng-click="curtirPublicacao(publicacao.IdPublicacao)"><i class="ion-ios-heart"></i> {{publicacao.QtdLikes}}</a>
                    </div>
                </div>

            </div>
        </div>

</ion-content>
</ion-view>
