<ion-popover-view>
    <ion-content>
        <div class="list">
            <a class="item" ng-click="alterarPerfil()">
                Alterar Perfil
            </a>
            <a class="item" ng-click="alterarGenerosMusicais()">
                Alterar Gêneros Musicais
            </a>
            <a class="item" ng-click="alterarInstrumentos()">
                Alterar Instrumentos
            </a>
            <a class="item" ng-click="alterarSenha()">
                Alterar Senha
            </a>
        </div>
    </ion-content>
</ion-popover-view>