<ion-view view-title="Publicar um Vídeo">
<ion-content class="padding bg-view">
 <form ng-submit="enviarPublicacao()" class="page-form">
<label for="video"><h4>Digite o link do vídeo</h4></label>

 <ion-item>
   <input type="text" class="input-text" ng-model="publicacao.video" id="video">
 </ion-item>

 <label for="texto"><h4>Digite a sua publicação</h4></label>

 <ion-item>
   <textarea rows="1" expanding-textarea ng-model="publicacao.texto" id="texto" class="textarea-autoheight"></textarea>
 </ion-item>
 <button type="submit" class="button button-full button-balanced">Publicar agora</button>
</form>
</ion-content>
</ion-view>