<ion-view view-title="Publicações">
    <ion-nav-bar class="bar-musikr" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header padding bg-view" ng-show="mostraTela">
        <div class="">
            <button class="button button-royal icon-right ion-ios-paper button-full" ng-click="fazerPublicacao()">Fazer publicação</button>
        </div>

        <div class="lista-publicacao lista-publicacao-perfil lista-perfil" ng-if="listaPublicacao.length > 0">
            <div class="list card" ng-repeat="publicacao in listaPublicacao">

                <div class="item item-avatar" ng-click="verPerfil(publicacao.IdPerfil, publicacao.isBanda, publicacao.NomePerfil)">
                    <div class="foto" style="background-image: url({{publicacao.FotoPerfil}})"></div>
                    <h2>{{publicacao.NomePerfil}}</h2>
                    <p>{{publicacao.PublicacaoCriadoEm | date:'dd/MM/yyyy'}} às {{publicacao.PublicacaoCriadoEm | date:'HH:mm'}}</p>
                </div>

                <div class="item item-body">
                    <div class="message-container">
                        <div class="image-container" ng-if="publicacao.Imagem != null && publicacao.Imagem != ''">
                            <img class="full-image" src="{{publicacao.Imagem}}">
                        </div>
                        <div class="video-container" ng-if="publicacao.Video != null && publicacao.Video != ''">
                            <iframe ng-src="{{publicacao.Video | trustUrl}}" frameborder="0" width="560" height="315" allowfullscreen></iframe>
                        </div>
                        <p ng-if="publicacao.Texto != null && publicacao.Texto != ''">
                            {{publicacao.Texto}}
                        </p>
                    </div>
                    <div class="likes">
                        <a ng-class="{liked: (publicacao.UsuarioJaCurtiu)}" ng-click="curtirPublicacao(publicacao.IdPublicacao)"><i class="ion-ios-heart"></i> {{publicacao.QtdLikes}}</a>
                    </div>
                </div>

            </div>
        </div>

        <div ng-if="listaPublicacao.length < 1" class="text-center">
            <h4>Você ainda não fez nenhuma publicação, e também nenhuma das bandas ou usuários que você segue fez uma publicação.</h4>
        </div>
    </ion-content>
</ion-view>
