<ion-view>
  <ion-content class="bg-primeiro-acesso step01" has-bouncing="false">
    <form ng-submit="primeiroacesso-step01()">
      <div class="header-signup">
        <div class="content first-access-header">
          <div class="app-icon">
          </div>
          <h1>Este é o Musikr
          </h1>
          <h4>Precisamos de mais algumas informações suas para continuarmos seu acesso. São apenas 2 minutinhos!
          </h4>
        </div>
      </div>
      <div class="foto-perfil first-access-content padding-left padding-right padding-bottom">
        <div class="foto sem-foto">
        </div>
        <button type="button" class="button button-balanced button-full button-light">Escolher Foto de Perfil 
          <i class="ion-camera">
          </i>
          <input type="hidden" ng-value="" ng-model="dados.foto">
        </button>
        <div class="list">
          <ion-md-input placeholder="Aniversário" highlight-color="balanced" type="date" ng-model="dados.dataNascimento">
          </ion-md-input>
          <div class="item item-divider item-title"> 
            Sexo
          </div>
          <ion-radio ng-repeat="item in listaSexo"
                     ng-value="item.value"
                     ng-model="dados.sexo">
            {{ item.text }}
          </ion-radio>
          <div class="padding-top">
            <button type="submit" class="button button-full button-positive">Continuar
            </button>
          </div>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
