<ion-view>
    <ion-content class="bg-login" has-bouncing="false" ng-style="{'background-image':'url('+ fundoLogin + ')'}">
        <form ng-submit="login()">
            <div class="hero no-header flat">
                <div class="content">
                    <div class="app-icon"></div>
                    <h1>Musikr</h1>
                    <h4>A música conectando pessoas</h4>
                </div>
            </div>
            <div class="list">
                <ion-md-input placeholder="E-mail" highlight-color="balanced" type="email" ng-model="dados.email"></ion-md-input>
                <ion-md-input placeholder="Senha" highlight-color="balanced" type="password" ng-model="dados.senha"></ion-md-input>
                <button type="button" ui-sref="app.esquecisenha" class="button button-clear button-full button-light">
                    Esqueci minha senha
                </button>
            </div>
            <div class="padding-right padding-left padding-bottom">
                <button type="submit" class="button button-full button-light">Entrar</button>
                <button type="button" ui-sref="app.criarconta" class="button button-full button-balanced">Criar Conta</button>
            </div>
        </form>
    </ion-content>
</ion-view>
