<ion-view>
    <ion-content class="bg-login" ng-style="{'background-image':'url('+ fundoLogin + ')'}" has-bouncing="false">
        <form ng-submit="login()">
            <div class="header-signup">
                <div class="content">
                    <div class="app-icon"></div>
                    <h1>Musikr</h1>
                    <h4>A música conectando pessoas</h4>
                </div>
            </div>
            <div class="list list-login">
                <ion-md-input placeholder="E-mail" highlight-color="balanced" type="email" ng-model="dados.email" tabindex="1" required></ion-md-input>
                <ion-md-input placeholder="Senha" highlight-color="balanced" type="password" ng-model="dados.senha" tabindex="2"></ion-md-input>
                <button type="button" ui-sref="app.esquecisenha" nav-direction="forward" class="button button-clear button-full button-light">
                    Esqueci minha senha
                </button>
            </div>
            <div class="padding-right padding-left padding-bottom">
                <button type="submit" class="button button-full button-light" tabindex="3">Entrar</button>
                <button type="button" ui-sref="app.criarconta" nav-direction="forward" class="button button-full button-balanced">Criar Conta</button>
            </div>
        </form>
    </ion-content>
</ion-view>
<div style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; z-index: 1000;" ng-hide="showFields"></div>
